/******** Footer ********/
footer {
  width: 100%;
  max-width: 1440px;
  padding: 30px 50px 0px 50px;
  overflow: hidden;
}

.ftr-mentions {
  width: 100%;
  display: flex;
  background-color: #d9d9d9;
  padding: 20px;
  font-size: 18px;
}

.ftr-column {
  display: flex;
  flex-direction: column;
  flex-basis: calc(100% / 3);
  gap: 15px;

  .h5 {
    font-size: larger;
    font-weight: 700;
  }

  a:hover {
    text-decoration: underline;
  }
}
