/* !!! */

/**************** Header ******************/

.hdr-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.main-logo {
  width: 61px;
  height: 19px;
  margin: 30px 50px;
}

.navhdr {
  height: 35px;
  width: 244px;
  display: flex;
  margin: 0px 50px 44px 0px;
  gap: 68px;
}

.maintab {
  display: flex;
  align-items: center;
  padding-top: 14px;

  &:hover {
    color: var(--main-color);
    border-top: 2px solid;
  }
}

/*********** Search container ******************/

/********* Search Bar **********/

.search-and-filters {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 35px;

  .h1-main {
    margin-left: 50px;
    margin-bottom: 8px;
  }
}

.search-bar {
  height: 49px;
  width: 377px;
  margin-left: 50px;
}

.block-sbar {
  display: flex;
  width: 377px;
  height: 49px;
}

.block-sbarlabel {
  height: 100%;
  width: 10%;
  background-color: #d9d9d9;
  border-radius: 10px 0px 0px 10px;
}

.label-sbar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.block-sbarinput {
  height: 100%;
  width: 55%;
}

.input-sbar {
  font-size: large;
  font-weight: bold;
  border-top: #f2f2f2 solid;
  border-bottom: #f2f2f2 solid;
  border-left: none;
  border-right: none;
  height: 100%;
  width: 100%;
  padding-left: 10px;
}

.block-sbarbutton {
  height: 100%;
  width: 40%;
}

.button-sbar {
  border: var(--main-color) solid;
  color: white;
  font-size: larger;
  font-weight: bold;
  background-color: var(--main-color);
  width: 100%;
  height: 100%;
  border-radius: 0px 10px 10px 0px;
  cursor: pointer;
}

.title-descript {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/************* Tab & Tag ***********/

.filtertab-container {
  display: flex;
  align-items: center;
  gap: 15px;
}

.globaltab {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: #d9d9d9 2px solid;
  border-radius: 30px;
  padding: 15px 19px;

  &:hover {
    background-color: #deebff;
  }
}

.glbltab {
  display: flex;
  align-items: center;
  gap: 10px;
}

.inftag {
  display: flex;
  align-items: center;
  object-fit: cover;
  gap: 10px;

  p {
    padding: -50px;
  }
}

.itag {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 24px;
  width: 24px;
  padding: 10px 7px 10px 7px;
  border-radius: 100%;
  margin-left: 50px;
  border: #d9d9d9 1px solid;
}

/****** Hebergements And Populaires ***********/

.hebergements-and-populaires {
  display: flex;
  justify-content: space-between;
  margin: 35px 50px;
}

.hebergements-and-populaires section {
  background-color: var(--main-bg-color);
  border-radius: 20px;
}

.section-title {
  margin: 0;
  font-size: 22px;
}

.card {
  background-color: white;
  border-radius: 20px;
  padding: 5px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
  object-fit: cover;
}

.card-title {
  font-size: 16px;
}

.euro {
  font-weight: 700;
}

.neutral-star {
  color: var(--main-bg-color);
}

/****** Hebergements ***********/
.hebergements {
  display: flex;
  flex-direction: column;
  gap: 30px 0px;
  width: 65%;
  padding: 20px;
}

.grid1-main {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 15px;
}

.cell-gridmain {
  height: 225px;
  width: 100%;
  background-color: white;
  padding: 5px;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  transition: 0.2s;

  &:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }

  img {
    width: 100%;
    height: 60%;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
  }
}

.semi-cellgrid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  padding: 10px;
  gap: 7px;
  object-fit: cover;
  position: absolute;

  a {
    font-weight: bold;

    &:hover {
      text-decoration: underline;
    }
  }
}

.show-more {
  font-weight: bold;

  &:hover {
    font-weight: bolder;
    text-decoration: underline;
  }
}
/****** Populaires ***********/

.populaires {
  width: 32%;
  padding: 20px;
}

.populaires-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.populaires-cards .card {
  display: flex;
  margin-top: 33px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  transition: 0.2s;

  &:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
}

.populaires-cards img {
  width: 33%;
  height: 136px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
  width: 67%;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}

.populaires-cards .card-title {
  margin-top: 10px;
  margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
  margin: 0;
}

.populaires-cards .card-rating {
  margin-bottom: 5px;
}

/********** City-Activities *************/

.city-activities {
  width: 100%;
  gap: 5px;
  padding: 30px 0px;

  h4 {
    font-size: x-large;
    margin-left: 40px;
  }
}

.grid2-main {
  width: 100%;
  display: grid;
  justify-content: space-between;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  padding: 40px 20px;
  overflow: hidden;
  gap: 20px;

  .tab-activities {
    height: 270px;
    border-radius: 20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    transition: 0.2s;

    &:hover {
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }

    img {
      height: 200px;
      width: 100%;
      object-fit: cover;
      border-radius: 20px 20px 0px 0px;
    }

    .semi-tab {
      height: 70px;
      display: flex;
      align-items: center;
      padding: 1rem 19px;

      p {
        font-weight: bold;
      }
    }
  }
}

/******** Footer ********/
footer {
  width: 100%;
  max-width: 1440px;
  padding: 20px;
}

.ftr-mentions {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: #d9d9d9;
  padding: 20px;
}

.ftr-column {
  display: flex;
  flex-direction: column;
  gap: 15px;

  .h5 {
    font-size: larger;
    font-weight: 500;
  }

  a:hover {
    text-decoration: underline;
  }
}
